# Проект по исследованию надежности заемщиков

**Описание проекта**:

Заказчик — кредитный отдел банка. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Цель проекта:**

Разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок.

**Ход исследования:**

- предобработĸа данных;
- исследовательский анализ данных;
- выводы и реĸомендации;

<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Подготовка-данных-и-изучение-общей-информации" data-toc-modified-id="Подготовка-данных-и-изучение-общей-информации-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Подготовка данных и изучение общей информации</a></span><ul class="toc-item"><li><span><a href="#Импортируем-необходимые-библиотеки-и-прочитаем-файл" data-toc-modified-id="Импортируем-необходимые-библиотеки-и-прочитаем-файл-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Импортируем необходимые библиотеки и прочитаем файл</a></span></li><li><span><a href="#Ознакомимся-с-данными" data-toc-modified-id="Ознакомимся-с-данными-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Ознакомимся с данными</a></span></li></ul></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Удаление-пропусков-(продолжение)" data-toc-modified-id="Удаление-пропусков-(продолжение)-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Удаление пропусков (продолжение)</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li><li><span><a href="#Исследовательский-анализ-данных" data-toc-modified-id="Исследовательский-анализ-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследовательский анализ данных</a></span><ul class="toc-item"><li><span><a href="#Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Зависимость между количеством детей и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Зависимость между семейным положением и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Зависимость между уровнем дохода и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-цели-кредита-на-его-возврат-в-срок" data-toc-modified-id="Зависимость-цели-кредита-на-его-возврат-в-срок-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Зависимость цели кредита на его возврат в срок</a></span></li></ul></li><li><span><a href="#Итоговый-вывод" data-toc-modified-id="Итоговый-вывод-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Итоговый вывод</a></span></li></ul></div>

## Подготовка данных и изучение общей информации

### Импортируем необходимые библиотеки и прочитаем файл

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

### Ознакомимся с данными

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — days_employed. Пропуски в этом столбце обработаем на следующем этапе. Другой столбец с пропущенными значениями — total_income — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца income_type.

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

Заменим все отрицательные значения положительными с помощью метода abs().

In [6]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа days_employed в днях.

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Этот столбец не понадобится для исследования

Выведем перечень уникальных значений столбца children.

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце children есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма data.

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Ещё раз выведем перечень уникальных значений столбца children, чтобы убедиться, что артефакты удалены.

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

Заполним пропуски в столбце days_employed медианными значениями по каждого типа занятости income_type.

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Убедимся, что все пропуски заполнены.

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

Заменим вещественный тип данных в столбце total_income на целочисленный с помощью метода astype()

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Обработаем неявные дубликаты в столбце education. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру. Проверим остальные столбцы.

In [14]:
data['education'] = data['education'].str.lower()

Выведем на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалим их.

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведем на экран перечень уникальных целей взятия кредита из столбца purpose.

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследовательский анализ данных

### Зависимость между количеством детей и возвратом кредита в срок

In [39]:
#создаем свобную таблицу c зависимостью количества взятых кредитов(столбец 'count') 
# и числа задержек по выплате кредитов(столбец 'sum') от количества детей

data_grouped_by_children = data.groupby('children', as_index=False).agg({'debt': ['count','sum']})

data_grouped_by_children.columns = ['chidren', 'cnt', 'sum']

#посчитаем конверсию в  %, добавим полученный столбец в вышеуказанную таблицу:

data_grouped_by_children['ratio'] = round((data_grouped_by_children['sum'] \
                                              / data_grouped_by_children['cnt']) * 100, 2).astype(str) + ' %'

#Выводим на экран полученную таблицу:
data_grouped_by_children

   chidren    cnt   sum   ratio
0        0  14091  1063  7.54 %
1        1   4808   444  9.23 %
2        2   2052   194  9.45 %
3        3    330    27  8.18 %
4        4     41     4  9.76 %
5        5      9     0   0.0 %

Вывод: 
- количество детей влияет на срок возврата кредита. Клиенты банка у которых нет детей, меньше всего нарушают сроки возврата кредита, чем клиенты у которых есть дети. На результаты исследования клиентов с 3 - 5 детьми повлияла малая выборка данных, тем самым результаты по ним не точные. Также клиенты из первой категории берут кредит значительно чаще, чем суммарно остальные категории.

### Зависимость между семейным положением и возвратом кредита в срок

In [57]:
# cоздаем сводную таблицу через метод pivot_table
# для подсчета количества, а также конверсии по кредиту:
# в aggfunc применяем функции count, mean к столбцу 'debt'. 

data_family_status = data.pivot_table(index='family_status', 
                                      values='debt', 
                                      aggfunc={'debt': ['count','mean']}).reset_index()

# Добавим новый столбец конверсия в %:
data_family_status['ratio'] = round(data_family_status['mean'] * 100, 2).astype(str) + ' %'
data_family_status.columns = ['family_status', 'cnt', 'avg', 'ratio']

# Выводим полученную таблицу и применяем сортировку по убыванию к столбцу с конверсией(mean)
data_family_status.sort_values(by='avg', ascending=False)

           family_status      cnt       avg   ratio
0  Не женат / не замужем   2796.0  0.097639  9.76 %
3       гражданский брак   4134.0  0.093130  9.31 %
4        женат / замужем  12261.0  0.075606  7.56 %
1              в разводе   1189.0  0.070648  7.06 %
2         вдовец / вдова    951.0  0.066246  6.62 %

Вывод: 
- анализ показывает, что есть зависимость между семейным положением и возвратом кредита в срок. Клиенты из категорий с статусом "не женат/не замужем" и "гражданский брак" хуже справляются с выплатой кредитов, чем "женатые", "в разводе" и "вдовцы". Исходя из полученных объемов взятия кредитов, необходим больший массив данных для более точного исследования по категориям.

### Зависимость между уровнем дохода и возвратом кредита в срок

In [56]:
# создаем сводную таблицу через метод pivot_table
# для подсчета количества, а также конверсии задержек по кредиту:
# в aggfunc применяем функции count, mean к столбцу 'debt'. 

data_total_income_category = data.pivot_table(index='total_income_category',  
                                              values='debt', 
                                              aggfunc={'debt': ['count','mean']}).reset_index()

# Добавим новый столбец конверсия в %:
data_total_income_category['ratio'] = round(data_total_income_category['mean'] * 100, 2).astype(str) + ' %'
data_family_status.columns = ['total_income_category', 'cnt', 'avg', 'ratio']

# Выводим полученную таблицу и применяем сортировку к столбцу с категориями:
data_total_income_category.sort_values(by='total_income_category', ascending=True)

  total_income_category    count      mean   ratio
0                     A     25.0  0.080000   8.0 %
1                     B   5014.0  0.070602  7.06 %
2                     C  15921.0  0.084982   8.5 %
3                     D    349.0  0.060172  6.02 %
4                     E     22.0  0.090909  9.09 %

Вывод: 
- гипотеза о том, что есть зависимость между доходом и возратом кредита в срок подтвердилась. Рассмотрим категории "B", "C" с наибольшим массивом данных. Результат 7% и 8,5% показывает, что есть тенденция к увеличению задержки по кредиту. А для получения полной картины исследования, необходима большая выборка по категориям "А", "D", "E".

### Зависимость цели кредита на его возврат в срок

In [55]:
# создаем сводную таблицу через метод pivot_table
# для подсчета конверсии задержек по кредиту:

data_purpose_category = data.pivot_table(index='purpose_category', values='debt').reset_index()

# добавим новый столбец конверсия в %:
data_purpose_category['ratio'] = round(data_purpose_category['debt'] * 100, 2).astype(str) + ' %'

# выводим полученную таблицу и применяем сортировку по убыванию к столбцу с конверсией:
data_purpose_category.sort_values(by='debt', ascending=False)

           purpose_category      debt   ratio
0    операции с автомобилем  0.093480  9.35 %
2     получение образования  0.092528  9.25 %
3        проведение свадьбы  0.079118  7.91 %
1  операции с недвижимостью  0.072551  7.26 %

Вывод:
- по результатам этого исследования видим, что в зависимости от цели получения кредита, прослеживается задержка в оплате кредита в срок. Итак, самые неблагонадежные клиенты получали займ на покупку автомобиля. А клиенты, получившие кредит на покупку недвижимости меньше всех задерживали оплату.

## Итоговый вывод

Было проведено исследование с целью изучить влияние различных факторов на способность погашения кредита в срок. 
Заказчик - кредитный отдел банка. Результаты исследования будут учитываться при построении модели *кредитного скоринга* - специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

Проверены гипотезы о влиянии:

- семейного положения на факт погашения кредита в срок;
- количества детей клиента на факт погашения кредита в срок;
- связь между уровнем дохода и фактом погашения кредита в срок;
- цели получения кредита и фактом погашения кредита в срок;


Были получены следующие выводы

1. Зависимость семейного положения на факт погашения кредита в срок  частично подтверждена:

  - 7,5% доля просроченных кредитов у клиентов без детей;
  - 9,2% доля просроченных кредитов у клиентов с 1 ребенком;
  - 9,5% доля просроченных кредитов у клиентов с 2 детьми;

Наиболее кредитоспособные клиенты находятся в категории "без детей".

**Рекомендация:** для более эффективной оценки клиентов с 3-5 детьми, необходим больший массив данных.

2. Зависимость количества детей клиента на факт погашения кредита в срок подтверждена:

  - 6,6% доля просроченных кредитов у вдовцов и вдов
  - 7,1% доля просроченных кредитов у клиентов в разводе
  - 7,6% доля просроченных кредитов у женатых клиентов 
  - 9,3% доля просроченных кредитов у клиентов в гражданском браке
  - 9,8% доля просроченных кредитов у не женатых клиентов 

В категориях "женат/замужем", "в разводе" и "вдовец/вдова" наименьшее количество задержек оплаты кредита.
Прослеживается взаимосвязь между клиентами не состоявшими в узаконенных отношениях и остальными категориями.

**Рекомендация:** необходимо учесть при построении скоринга.

3. Связь между уровнем дохода и фактом погашения кредита в срок частично подтверждена:

  - 7,0% доля просроченных кредитов у клиентов категории B
  - 8,5% доля просроченных кредитов у клиентов категории C

C повышением уровня доходя уменьшается риск просрочки по кредиту.

**Рекомендация:** для более эффективной оценки клиентов c уровнем дохода категорий E(0-30 000), D(30 001-50 000), а также A(от 1 000 001), необходим больший массив данных.

4. Зависимость цели кредита на его возврат в срок подтверждена: 

  - 7,3% доля просроченных кредитов у клиентов, взявших кредит на операции с недвижимостью
  - 7,9% доля просроченных кредитов у клиентов, взявших кредит на проведение свадьбы
  - 9,3% доля просроченных кредитов у клиентов, взявших кредит на получение образования
  - 9,3% доля просроченных кредитов у клиентов, взявших кредит на операции с автомобилем

Категория клиентов, получивших кредит на операции с недвижимостью, менее всего задерживают оплату кредита.

**Рекомендация:** необходимо учесть при построении скоринга.

**Общие рекомендации:**

Выводы из 2 и 4 гипотез использовать при построении *кредитного скоринга*. По остальным необходимо провести повторные исследования, использовав больший массив данных.